<%= form_with model: transaction do |form| %>
  <div data-controller="transaction">
    <% if transaction.transaction_type == "venda" %>
      <div class = "formulario"><%= form.label "Nome do Pokemón" %>
      <%= form.collection_select :pokemon_name, Transaction.where(enabled: true).order(:pokemon_name), :pokemon_name, :pokemon_name, wrapper: false %></div>
      <div class = "formulario"><%= form.label "Valor da transação (USD):" %>
      <%= form.text_field :transaction_value %></div>
      <%= form.hidden_field :transaction_type, value: "venda" %>
      <%= form.hidden_field :enabled, value: false %>
    <% else %>
      <div class = "formulario"><%= form.label "Nome do Pokemón" %>
      <%= form.text_field :pokemon_name, 'data-transaction-target' => 'pokeName' %>
      <button type="button" class= "botao_grande" data-action="click->transaction#check">
          Validar
      </button></div>
      <div class = "formulario"><%= form.label "Valor da transação (USD):" %>
      <%= form.text_field :transaction_value, 'data-transaction-target' => 'pokeValue' %></div>
      <%= form.hidden_field :transaction_type, value: "compra" %>
      <%= form.hidden_field :img_url, 'data-transaction-target' => 'pokeImg' %>
      <% end %>
    <% transaction.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  <div>
    <%= form.submit "Registrar", class: 'botao_grande'%>
  </div>
<% end %>