<header>
<h1>Transações</h1>
</header>
<main>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.pokemon_name, edit_transaction_path(transaction) %>
      <%= number_to_currency(transaction.transaction_value) %>
      <%= Transaction.human_attribute_name("transaction_type.#{transaction.transaction_type}") %>
    </li>
  <% end %>
</ul>
<div>
  <h4>Você possui <%= Transaction.where(enabled: true).count %> Pokemón(s) Ativos na Carteira:</h4>
    <% @enabled_transactions.each do |transaction| %>
      <div><%=  transaction.pokemon_name %></div>
  <% end %>
</div>
</main>
<footer>
<%= link_to'<button type="button">Compra</button>'.html_safe, new_transaction_path(:transaction => { :transaction_type => "compra" }) %>
<%= link_to'<button type="button">Venda</button>'.html_safe, new_transaction_path(:transaction => { :transaction_type => "venda" }) %>
</footer>